DATABASE_URL=..
SECRET_KEY=..
JWT_ALGORITHM=..
JWT_EXPIRE_MINUTES=..
AWS_BEARER_TOKEN_BEDROCK=..
AWS_REGION=..
MODEL_ID=..
FRONTEND_URL=...
AWS_ACCESS_KEY_ID=..
AWS_SECRET_ACCESS_KEY=..
KNOWLEDGE_BASE_ID=..
KNOWLEDGE_BASE_MODEL_ARN=..